<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sign.css') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>登录</h1>
        </div>
        <div class="main">
            <div class="form-item">
                <input id="username" type="text" autocomplete="off" placeholder="邮箱">
            </div>
            <div class="form-item">
                <input id="password" type="password" autocomplete="off" placeholder="登录密码">
            </div>
                </span><br>
                <button>登 录</button>
        </div>
    </div>
</body>
</html>