body{
    font-family: sans-serif;
    background-image: url("D:\桌面\Gitfile\Web\static\img\bg.jpg");
    background-repeat: no-repeat;
    /* 溢出隐藏 */
    overflow: hidden;
    background-size: cover;
}

.container{
    width: 380px;
    margin: 7% auto;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    /* 阴影部分 */
    box-shadow: 0 0 17px #333;
}

.header{
    text-align: center;
    padding-top: 75px;
}

.header h1{
    color: #333;
    font-size: 45px;
    margin-bottom: 80px;
}
.main{
    text-align: center;
}

.main input,button{
    width: 300px;
    height: 40px;
    /* 边框消失 */
    border: none;
    /* 选中的时候的边框提醒去掉 */
    outline: none;
    padding-left: 40px;
    box-sizing: border-box;
    font-size: 15px;
    color: #333;
    margin-bottom: 40px;
}

.main button{
    padding-left: 0;
    background-color: #83acf1;
    letter-spacing: 1px;
    font-weight: bold;
    margin-bottom: 70px;
}

.main button:hover{
    box-shadow: 2px 2px 5px #555;
    background-color: #7799d4;
}
.main input:hover{
    box-shadow: 2px 2px 5px #555;
    background-color: #ddd;
}

.main span{
    /* 相对定位 */
    position: relative;
}

.main userName{
    position: absolute;
    left: 15px;
    color: #333;
    font-size: 16px;
    top: 2px;
}

.form-item { 
    position: relative; 
    width: 360px; 
    margin: 0 auto; 
    padding-bottom: 30px;
}

 .form-item input { 
    width: 288px; 
    height: 48px; 
    padding-left: 70px; 
    border: 1px solid #fff; 
    border-radius: 25px; 
    font-size: 18px; 
    color: #fff; 
    background-color: transparent; 
    outline: none;
}
 .form-item button { 
    width: 360px; 
    height: 50px; 
    border: 0; 
    border-radius: 25px; 
    font-size: 18px; 
    color: #1f6f4a; 
    outline: none; 
    cursor: pointer; 
    background-color: #fff; 
}

 #username { 
    background: url(D:\桌面\Gitfile\Web\static\img\iconfont\user.svg) 20px 14px no-repeat; 
}

 #password { 
    background: url(D:\桌面\Gitfile\Web\static\img\iconfont\lock.svg) 23px 11px no-repeat; 
}